<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OrganizationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5701606F24AA1C7200A0F13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5701608524AA1C7500A0F13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5701609024AA1C7500A0F13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
